@model HandsOnCore.Models.Restaurant

@{
    ViewData["Title"] = "Add Restaurant";
    var count = 0;
}

<script type="text/javascript">
    $("$addBtn").click(function () { ++count;})
        @*$("#submitBtn").click(function () {
            $.ajax({
                type: 'POST',
                url: 'Restaurant/Create',
                data: @Model,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            })
        })*@
</script>

<h1>Add Restaurant</h1>

<hr />
<form asp-action="Create" asp-controller="Restaurant">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="Name" class="control-label required"></label>
            <input asp-for="Name" class="form-control" id="name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Area" class="control-label required"></label>
            <input asp-for="Area" class="form-control" id="area" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="City" class="control-label required"></label>
            <input asp-for="City" class="form-control" id="city" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="PinCode" class="control-label required"></label>
            <input asp-for="PinCode" class="form-control" type="number" id="pincode" />
            <span asp-validation-for="PinCode" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="PhoneNumber" class="control-label required"></label>
            <input asp-for="PhoneNumber" class="form-control" type="number" id="phonenumber" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="ContactPersonName" class="control-label"></label>
            <input asp-for="ContactPersonName" class="form-control" id="contactname" />
            <span asp-validation-for="ContactPersonName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="MinDeliveryTime" class="control-label"></label>
            <input asp-for="MinDeliveryTime" class="form-control" id="deliverytime" placeholder="HH:mm" />
            <span asp-validation-for="MinDeliveryTime" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="CostForTwo" class="control-label"></label>
            <input asp-for="CostForTwo" class="form-control" type="number" id="cost42" />
            <span asp-validation-for="CostForTwo" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="PhotoUrl" class="control-label required"></label>
            <input asp-for="PhotoUrl" class="form-control" id="photourl" />
            <span asp-validation-for="PhotoUrl" class="text-danger"></span>
        </div>
    </div>

    <div id="menu">
        <hr />
        <h2>Menu</h2>
        <hr />
        <div class="row" id="menuDiv">
            <div class="form-group col-2">
                <label asp-for="Menus[count].FoodName" class="control-label"></label>
            </div>
            <div class="form-group col-2">
                <label asp-for="Menus[count].Description" class="control-label"></label>
            </div>
            <div class="form-group col-2">
                <label asp-for="Menus[count].ImageUrl" class="control-label"></label>
            </div>
            <div class="form-group col-2">
                <label asp-for="Menus[count].Price" class="control-label"></label>
            </div>
            <div class="form-group col-2">
                <label asp-for="Menus[count].IsVeg" class="control-label"></label><br />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-2">
                <input asp-for="Menus[0].FoodName" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[0].Description" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[0].ImageUrl" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[0].Price" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[0].IsVeg"  id="foodname" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-2">
                <input asp-for="Menus[1].FoodName" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[1].Description" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[1].ImageUrl" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[1].Price" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[1].IsVeg" id="foodname" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-2">
                <input asp-for="Menus[2].FoodName" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[2].Description" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[2].ImageUrl" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[2].Price" class="form-control" id="foodname" />
            </div>
            <div class="form-group col-2">
                <input asp-for="Menus[2].IsVeg" id="foodname" />
            </div>
        </div>

        @*<hr />
        <h2>Menu</h2>
        <hr />
        <table id="tblMenu" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image(URL)</th>
                    <th>Price</th>
                    <th>Is Veg?</th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0; i<Model.Menus.Count(); i++)
                {
                <tr>
                    <td><input type="text" id="foodName" value="@Model.Menus[i].FoodName" class="form-control" /></td>
                    <td><input type="text" id="description" value="@Model.Menus[i].Description" class="form-control" /></td>
                    <td><input type="text" id="imgUrl" value="@Model.Menus[i].ImageUrl" class="form-control" /></td>
                    <td><input type="text" id="price" value="@Model.Menus[i].Price" class="form-control" /></td>
                    <td><input type="checkbox" id="isVeg" value="@Model.Menus[i].IsVeg" class="form-control" /></td>
                </tr>
                }
            </tbody>
        </table>*@

        <div class="form-group" id="btngrp">
            <input type="reset" id="clearBtn" value="Clear" class="btn btn-warning search" />
            <input type="button" id="submitBtn" onclick="submit()" value="Create" class="btn btn-warning search" />
            <input type="button" onclick="addData()" id="addBtn" class="btn btn-warning search" value="Add Menu" />
            <input type="button" onclick="removeData()" id="removeBtn" class="btn btn-warning search" value="Remove Menu" />
        </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" src="~/js/site.js"></script>