@model IEnumerable<HandsOnCore.Models.Menu>
@{
    ViewData["Title"] = "Food Items";
}

@if (Model.Count() > 0)
{
    <form asp-controller="Restaurant" asp-action="FoodItemSearch" asp-route-restaurantId="restaurantId" method="get">
        <div class="d-flex mb-3">
            <h1>Food Items</h1>
            <input type="hidden" value="@Model.FirstOrDefault().RestaurantId" name="restaurantId" />
            <input type="text" name="foodItem" class="form-control rsearch" placeholder="Search for food items..." />
            <input type="submit" class="btn btn-warning rbtn-search" value="Search" />
        </div>
    </form>

    <div class="d-flex">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem; height: 30rem; margin-right: 1em; border-radius: 10px;">
                <img src="@item.ImageUrl" alt="Restaurant image" height="50%" style="border-radius: 10px 10px 0px 0px" class="card-img-bottom" />
                <div class="card-body">
                    <h4>@item.FoodName</h4>
                    <p>@item.Description</p>
                    <p>Rs: @item.Price</p>
                    @{
                        if (item.IsVeg)
                        {
                            <p>Vegeterian</p>
                        }
                        else
                        {
                            <p>Non-vegeterian</p>
                        }
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <h1 style="margin-left: 22rem; margin-top: 13rem">Opps! No data found...</h1>
}
